@using MyFace.Models.View
@model MyFace.Models.View.PostsViewModel
<!DOCTYPE html>

@{
    Layout = "_Layout";
}
<!-- TODO get likes and dislikes counter working -->
<!-- TODO display username or Displayname -->
<!-- TODO Next 10 button? -->
<!-- TODO Semantic time -->

@functions {
    public int getLikes(IEnumerable<UserViewModel> likesList)
    {
        var counter = 0;
        if (likesList != null)
        {
            foreach (var user in likesList)
            {
                if (user != null)
                {
                    counter++;
                }
            }
        }
        return counter;
    }
}

<main>
    <h1 class="page-title">My Face Posts</h1>
    <article class="posts-article">
        <ul class="pageContent">
                @foreach (var post in Model.Posts.OrderBy(x => x.PostedAt))
                {
                    <li class="list-of-posts">
                        <div class="post-user">
                            <div class="post-user-info">
                                <p class="display-name">@post.PostedBy.DisplayName</p>
                                <p class="post-time">@post.PostedAt</p>
                            </div>
                            <img class="profile-picture" src="@post.PostedBy.ProfileImageUrl" alt="broken Profile pic :(">
                        </div>
                       
                        <div class="post-message">
                            <p class="post-message">Message: @post.Message</p>
                            <img class="post-image" height="200" width="200" src="@post.ImageUrl" alt="broken post pic :(">
                        </div>
                        
                        <div class="post-data">
                            <p class="post-time">Posted at: @post.PostedAt</p>
                            @* <p class="post-likes">Likes: @getLikes(post.LikedBy)</p> *@
                            <p class="post-dislikes">Disikes: placeholder/p>
                        </div>
                    </li>
                }
                </ul>
    </article>
</main>


<style>
    
</style>

