@model MyFace.Models.View.UserViewModel

@{
    Layout = "_Layout";
}

<!-- show dislikes/likes? -->

<main>
    <h1>User Page for @Model.DisplayName</h1>
    <div class="userInfo">
        <img class="cover-picture" alt="Cover Image (broken)" src="@Model.CoverImageUrl"></img>
        <p class="user-username">@Model.Username</p>
        <p class="user-Email">@Model.Email</p>
        <img class="profile-picture" alt="Profile picture (broken)" src="@Model.ProfileImageUrl"></img>
    </div>
    <ul class="pageContent">
        @foreach (var post in Model.Posts)
        {
            <li class="list-of-posts">
                <div class="post-user">
                    <div class="post-user-info">
                        <p class="display-name">@post.PostedBy.DisplayName</p>
                        <p class="post-time">@post.PostedAt</p>
                    </div>
                    <img class="profile-picture" src="@post.PostedBy.ProfileImageUrl" alt="broken Profile pic :(">
                </div>
                       
                <div class="post-message">
                    <p class="post-message">@post.Message</p>
                    <img class="post-image" src="@post.ImageUrl" alt="broken post pic :(">
                </div>
                        
                <div class="post-data">
                    <p class="post-likes">&#x1F44D @post.LikedBy.Count()</p>
                    <p class="post-dislikes">&#x1F44E @post.DislikedBy.Count()</p>
                </div>
            </li>
        }
    </ul>
</main>


@* public int Id { get; set; } *@
@*          *@
@* public ICollection<Post> Posts { get; set; } = new List<Post>(); *@
@* public ICollection<Interaction> Interactions { get; set; } = new List<Interaction>(); *@